.ezmaster-a {
  display: inline-block;
}

.ezmaster-a-btn {
  font-size: 1.6rem;
  padding: 0 2px 0 2px;
  margin: 0px;
}
.ezmaster-a-btn i {
  vertical-align: top;
}
.ezmaster-a-stop-circle {
  color: #d8a2a0;
}
.ezmaster-a-play-circle {
  color: #488749;
}
.ezmaster-a-trash {
  color: #be9754;
}
.ezmaster-a-cog {
  color: #47aae8;
}
.ezmaster-a-upload {
  color: #47aae8;
}
.ezmaster-a-link {
  color: #47aae8;
}
.ezmaster-a-globe {
  color: #47aae8;
}
.ezmaster-a-file {
  color: #47aae8;
}
