.ezmaster-a-cog {
  color: #47aae8;
}

.ezmaster-modal-settings.modal-dialog {
  max-width: 1200px !important;
}

.ezmaster-modal-settings .modal-fullscreen-btn {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 1.5rem;
}

.ezmaster-modal-settings.modal-fullscreen.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: 100% !important;
}

.ezmaster-modal-settings.modal-fullscreen .modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.ezmaster-modal-settings .ace_editor {
  width: 100%;
  height: 550px;
}

.ezmaster-modal-settings.modal-fullscreen .ace_editor {
  height: calc(100vh - 180px);
}
