/* to remove horizontal scrollbars on the big instances table list */
.ezmaster-instances .row {
  margin-right: 0px;
  margin-left: 0px;
}
.ezmaster-instances .col {
  padding-right: 0px;
  padding-left: 0px;
}

.ezmaster-instances-table {
  color: #616161;
}

.ezmaster-instances-add {
  font-size: 1.2rem;
}

/* Responsive table,
   see https://bootsnipp.com/snippets/featured/no-more-tables-respsonsive-table */
@media only screen and (max-width: 800px) {
  /* Force table to not be like tables anymore */
  .ezmaster-instances-table table,
  .ezmaster-instances-table thead,
  .ezmaster-instances-table tbody,
  .ezmaster-instances-table th,
  .ezmaster-instances-table td,
  .ezmaster-instances-table tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .ezmaster-instances-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .ezmaster-instances-table tr {
    border: 1px solid #ccc;
  }

  .ezmaster-instances-table td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    white-space: normal;
    text-align: left;
  }
}
