.ezmaster-a-upload {
  color: #47aae8;
}

.ezmaster-instance-dropzone {
  text-align: center;
}
.ezmaster-instance-dropzone .fa-cloud-upload {
  font-size: 10rem;
  color: #47aae8;
}

.ezmaster-instance-webdav {
  text-align: center;
}
.ezmaster-instance-webdav .fa-folder-open {
  font-size: 10rem;
  color: #47aae8;
}

/* hide the filter bar in the file list modal */
.ezmaster-instance-filelist input {
  display: none !important;
}

.ezmaster-modal-upload.modal-dialog {
  max-width: 1000px !important;
}
