.ezmaster-a {
  display: inline-block;
}

.ezmaster-a-btn {
  font-size: 1.6rem;
  padding: 0 2px 0 2px;
  margin: 0px;
}
.ezmaster-a-btn i {
  margin-top: 3px;
  vertical-align: top;
}

@media only screen and (max-width: 800px) {
  .ezmaster-a i {
    font-size: 2.8rem;
  }
}
