footer {
  margin-top: 20px;
  display: block;
}

footer hr {
  margin: 0;
}

.ezmaster-footer-text {
  font-size: 1rem;
}

.ezmaster-footer-icon {
  font-size: 1.4rem;
}

.ezmaster-footer-icon .fa-github {
  color: #000;
}
