header {
  /*  border-bottom: 1px solid grey;*/
}

header .navbar {
  padding: 0px;
  background: linear-gradient(#539ce1, #a4c4e1 55%, #ffffff);
  background-color: grey;
  color: #284c6c !important;
}

header .navbar .nav-item .ezmaster-menu {
  color: #284c6c !important;
  padding: 15px;
}

header .navbar .nav-item.active {
  border-bottom: 5px solid #539ce1;
  font-weight: bold;
}

header .ezmaster-logo-header {
  margin-left: 5px;
}

@media only screen and (max-width: 800px) {
  header .navbar .nav-item .ezmaster-menu {
    text-align: center;
  }
  header .navbar .nav-item.active {
    border-bottom: none;
    border-right: 10px solid #539ce1;
    border-left: 10px solid #539ce1;
  }
}
