<!DOCTYPE html>

<html>
  <head>
    <title>EzMaster</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Material Design fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Material Design -->
    <link href="/libs/bootstrap-material-design-master/dist/css/bootstrap-material-design.css" rel="stylesheet">
    <link href="/libs/bootstrap-material-design-master/dist/css/ripples.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Dropdown.js -->
    <link href="//cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.css" rel="stylesheet">

    <!-- Page style -->
    <link href="/assets/css/main.css" rel="stylesheet">
    <link rel="icon" href="/assets/img/favicon.png" />

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  </head>

  <body>
    
    <ul id="menu" class="nav nav-tabs" style="margin-bottom: 15px;">
      <li class="active"><a href="/" data-toggle="tab"><h3>Administration</h3></a></li>
      <li><a href="#" data-toggle="tab"><h3>Upload</h3></a></li>
      <li><a href="#" data-toggle="tab"><h3>Instances management</h3></a></li>
    </ul>

    {% block body %} {% endblock %}
    
    <script type="text/javascript" charset="utf-8" src="/libs.js"></script>
    <script type="text/javascript" charset="utf-8" src="/assets/js/main.js"></script>
  </body>
</html>