<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>castor-boilerplate</title>
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>
  <body>
    <header>
      <h2>castor-boilerplate</h2>
      <p>Castor application boilerplate. <strong>Replace "castor-boilerplate" by your "name" in all files ...</strong></p>
    </header>
    <section>
      <h2>Default API</h2>
      <ul>
        <li>/index/* : List of collections in <a href="/index/*?alt=raw">json</a> | <a href="/index/*">jsonld</a>  | <a href="/index/*?alt=xlsx">xlsx</a> | <a href="/index/*?alt=csv">csv</a> | <a href="/index/*?alt=raw">tsv</a> | <a href="/index/*?alt=nq">nq</a></li>
        <li>/data/* : List of documents of a collection in <a href="/data/*?alt=raw">json</a> | <a href="/data/*">jsonld</a>  | <a href="/data/*?alt=xlsx">xlsx</a> | <a href="/data/*?alt=csv">csv</a> | <a href="/data/*?alt=raw">tsv</a> | <a href="/data/*?alt=nq">nq</a></li>
        <li>/index/data/* : List of fields of a document of a collection in <a href="/index/data/*?alt=raw">json</a> | <a href="/data/*">jsonld</a>  | <a href="/data/*?alt=xlsx">xlsx</a> | <a href="/data/*?alt=csv">csv</a> | <a href="/data/*?alt=raw">tsv</a> | <a href="/data/*?alt=nq">nq</a></li>
      </ul>
    </section>

     <section>
      <h2>Generic operators routes</h2>
      <ul>
        <li>$count : <a href="/data/$count">json</a></li>
        <li>need to be completed ...</li>
      </ul>
    </section>

    <section>
      <h2>Custom</h2>
      <ul>
        <li>Custom route  <a href="/-/fake-route">/-/fake-route</a></li>
        <li>need to be completed ...</li>
      </ul>
    </section>



    <section>
      <h2>Resources</h2>
      <ul>
        <li><a href="https://"><img class="github" src="/assets/img/GitHub-Mark.png"></a></li>
        <li>need to be completed ...</li>
      </ul>
    </section>

    <script type="text/javascript" charset="utf-8" src="/libs.js"></script>
    <script type="text/javascript" charset="utf-8" src="/assets/js/main.js"></script>
 </body>
</html>
