<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    {% block head %}{% endblock %}

    <link href="/favicon.ico" rel="icon">

    <!-- Fonts -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'> -->

    <!-- Bootstrap core CSS -->
    <link href="/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/main.css" rel="stylesheet">

    <!-- Material Design for Bootstrap -->
    <!-- Include roboto.css to use the Roboto web font, material.css to include the theme and ripples.css to style the ripple effect -->
    <link href="/libs/bootstrap-material-design/dist/css/roboto.min.css" rel="stylesheet">
    <link href="/libs/bootstrap-material-design/dist/css/material.min.css" rel="stylesheet">
    <link href="/libs/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <link href="../libs/jsoneditor/dist/jsoneditor.css" rel="stylesheet" type="text/css">
    <script src="../libs/jsoneditor/dist/jsoneditor.js"></script>

    <script src="https://bgrins.github.io/filereader.js/filereader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2014-11-29/FileSaver.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

      {% block styles %}{% endblock %}

  </head>

  <body>

    <ul id="menu" class="nav nav-tabs" style="margin-bottom: 15px;">
      <li class="active">
        <a href="/" data-toggle="tab"><h3>ezMaster</h3></a>
      </li>
    </ul>

    <h1>Les Instances (test alex git)</h1>

    {% block body %}{% endblock %}



    <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="/libs.js"></script>
      <script src="/libs/jquery/dist/jquery.min.js"></script>
      <script src="/libs/jquery-migrate/dist/jquery-migrate.min.js"></script>
      <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="/libs/bootstrap-material-design/dist/js/ripples.min.js"></script>
      <script src="/libs/bootstrap-material-design/dist/js/material.min.js"></script>
      <script>
$(document).ready(function() {
  // This command is used to initialize some elements and make them work properly
  $.material.init();
});
      </script>
      <script src="/assets/js/main.js"></script>
     {% block scripts %}{% endblock %}
  </body>
</html>

