{% extends "layout.html" %}

{% block body %}

    <table id="instances-table" class="table table-striped">
      <thead>
        <tr>
          <th>Long Name</th>
          <th>Technical name</th>
          <th>Creation date</th>
          <th>App</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <template v-for="item in containers">
          <tr v-if="[[ item.running ]] == 'true'" class="success" id="[[ item.containerId ]]">
            <td>[[ item.longName ]]</td>
            <td>[[ item.technicalName ]]</td>
            <td>[[ item.creationDate ]]</td>
            <td>[[ item.app ]]</td>
            <td> <span>Started</span> </td>
            <td class="actions">
              <ul class="bread" style="margin-bottom:0px">
                <li class="start" title="Start the instance"><button type='button' class="btn btn-raised btn-sm btn-success button" disabled>Start</button></li>
                <li class="stop" title="Stop the instance"><button type='button' class="btn btn-raised btn-sm btn-danger button" v-on:click="stopInstance">Stop</button></li>
                <li class="delete" title="Delete the instance"><button type='button' class="btn btn-raised btn-sm btn-warning button" v-on:click="confirmationDelete">Delete</button></li>
                <li class="updateConfig" title="Updating configuration of the instance"><button type='button' id='displayConfig' class="btn btn-raised btn-sm btn-info button" v-on:click="displayConfig">Config</button></li>
                <li class="openPublicLink" title="Open the instance"><a class="btn btn-raised btn-sm btn-link button" target="[[ item.target ]]" class="publicLink" href='[[ item.address ]]'>To access</a></li>
              </ul>

              <div class="modal" id="modal-delete-instance">
                <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="panel panel-warning">
                      <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" v-on:click="cancelDelete">×</button>
                        <h3 class="panel-title">Delete an instance</h3>
                      </div>
                      <div class="panel-body">
                        <p>
                          <span class="deleteConfirmationMessage">Are you sure to delete the instance called <span class="text-warning">[[ technicalNameToDelete ]]</span> ?</span><br /><br />
                          <span class="deleteSizeFolder">You will remove <span class="text-warning">[[ sizeToDelete ]]</span> of datas.</span>
                        </p><br />
                      </div>
                      <div class="panel-footer">
                        <a class="btn btn-default" v-on:click='cancelDelete' data-dismiss="modal">Cancel</a>
                        <a style='float:right' class="btn btn-warning" v-on:click="deleteInstance">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal" id="modal-update-config">
                <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="panel panel-info">
                      <div class="panel-heading">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" v-on:click="cancelConfig">×</button>
                        <h3 class="panel-title">Update instance configuration</h3>
                      </div>
                      <div class="panel-body">
                        <div id="jsoneditor"></div>
                        <span id='spanConfigError' class='text-danger'></span>
                      </div>
                      <div class="panel-footer">
                        <a class="btn btn-default" v-on:click='cancelConfig' data-dismiss="modal">Cancel</a>
                        <a style='float:right' id='buttonUpdate' class="btn btn-info" v-on:click="updateConfig">Update</a>
                        <a style='float:right; display:none' id='buttonUpdateDisable' class="btn btn-info" disabled>Update</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr v-else class="danger" id="[[ item.containerId ]]">
            <td>[[ item.longName ]]</td>
            <td>[[ item.technicalName ]]</td>
            <td>[[ item.creationDate ]]</td>
            <td>[[ item.app ]]</td>
            <td><span v-else>Stopped</span></td>
            <td class="actions">
              <ul class="bread" style="margin-bottom:0px">
                <li class="start" title="Start the instance"><button type='button' class="btn btn-raised btn-sm btn-success button" v-on:click="startInstance">Start</button></li>
                <li class="stop" title="Stop the instance"><button type='button' class="btn btn-raised btn-sm btn-danger button" disabled>Stop</button></li>
                <li class="delete" title="Delete the instance"><button type='button' class="btn btn-raised btn-sm btn-warning button" v-on:click="confirmationDelete">Delete</button></li>
                <li class="updateConfig" title="Updating configuration of the instance"><button type='button' id='displayConfig' class="btn btn-raised btn-sm btn-info button" v-on:click="displayConfig">Config</button></li>
                <li class="openPublicLink" title="Open the instance"><button type="button" class="btn btn-raised btn-sm btn-link button" disabled>To access</button></li>
              </ul>

              <div class="modal" id="modal-delete-instance">
                <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="panel panel-warning">
                      <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" v-on:click="cancelDelete">×</button>
                        <h3 class="panel-title">Delete an instance</h3>
                      </div>
                      <div class="panel-body">
                        <p>
                          <span class="deleteConfirmationMessage">Are you sure to delete the instance called <span class="text-warning">[[ technicalNameToDelete ]]</span> ?</span><br /><br />
                          <span class="deleteSizeFolder">You will remove <span class="text-warning">[[ sizeToDelete ]]</span> of datas.</span>
                        </p><br />
                      </div>
                      <div class="panel-footer">
                        <a class="btn btn-default" v-on:click='cancelDelete' data-dismiss="modal">Cancel</a>
                        <a style='float:right' class="btn btn-warning" v-on:click="deleteInstance">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal" id="modal-update-config">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" v-on:click="cancelConfig">×</button>
                        <h3 class="panel-title">Update instance configuration</h3>
                      </div>
                      <div class="panel-body">
                        <div id="jsoneditor"></div>
                        <span id='spanConfigError' class='text-danger'></span>
                      </div>
                      <div class="panel-footer">
                        <a class="btn btn-default" v-on:click='cancelConfig' data-dismiss="modal">Cancel</a>
                        <a style='float:right' id='buttonUpdate' class="btn btn-info" v-on:click="updateConfig">Update</a>
                        <a style='float:right; display:none' id='buttonUpdateDisable' class="btn btn-info" disabled>Update</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </template>
      </tbody>
    </table>

    <div id='addInstance'>
      <button id="add_instance" class="btn btn-raised btn-primary" v-on:click="displayFormAddInstance" v-on:keyup.esc="cancelAddInstance" >Add an instance</button>

      <div class="modal" id="modal-add-instance">
        <div class="modal-dialog">
          <div class="modal-content">
            <validator name="validation1">
              <form novalidate id="add-instance-form" name="Form" class="form-horizontal">
                <fieldset>
                  <div class="modal-header" style="background-color: #009688">
                    <legend>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" v-on:click="cancelAddInstance">×</button>
                      <span>Add an instance</span>
                    </legend>
                  </div>
                  <br />
                  <div class="modal-body">
                    <div class="form-group">
                      <label for="app" class="col-md-3 control-label">App</label>

                      <div class="col-md-9">
                        <select id="app" class="form-control">
                          <option value='inistcnrs/ezvis:latest'>inistcnrs/ezvis:latest</option>
                          <option value='inistcnrs/lodex:latest'>inistcnrs/lodex:latest</option>
                          <option value='inistcnrs/ezark:latest'>inistcnrs/ezark:latest</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputLongName" class="col-md-3 control-label">Long name</label>
                      <div class="col-md-9">
                        <input class="form-control" id="inputLongName" name="inputLongName" placeholder=" Ex : Title, Comment, Note, etc" type="text" value='[[ longName ]]' v-model="longName" v-validate:longName="{ required: true }">
                        <!--
                        <div v-if='$validation1.longName.dirty'>
                          <span class="help-block text-danger" v-if="$validation1.longName.required">Fill the Long name.</span>
                        </div>
                        -->
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-3 control-label">Technical name</label>

                      <div class="col-md-9">
                        <div class="block-input">
                          <input class="form-control sizeInput" id="inputProject" name="inputProject" placeholder=" Ex : Project name" type="text" value='[[ project ]]' v-model="project" v-validate:project="{ required: true, lowercaseAndDigits : true}">-
                          <input class="form-control has-warning sizeInput" id="inputStudy" name="inputStudy" placeholder=" Ex : Study name" type="text" value='[[ study ]]' v-model="study" v-validate:study="{ required: true, lowercaseAndDigits : true }">-
                          <input class="form-control sizeInput" id="inputVersion" placeholder=" Version" value="[[  version ]]" type="number" min='0' v-model="version">
                        </div>
                        <div v-if='$validation1.project.dirty'>
                          <span class="help-block text-danger" v-if="$validation1.project.required">Fill the first part of the technical name.</span>
                          <span class="help-block text-danger" v-if="$validation1.project.lowercaseAndDigits">Only lower case letters and digits for the first part.</span>
                        </div>
                        <div v-if='$validation1.study.dirty'>
                          <span class="help-block text-danger" v-if="$validation1.study.required">Fill the second part of the technical name.</span>
                          <span class="help-block text-danger" v-if="$validation1.study.lowercaseAndDigits">Only lower case letters and digits for the second part.</span>
                        </div>
                        <span style='display: none' id='technicalNameExists' class="help-block text-danger">Technical name "[[ technicalName ]]" already exists</span>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="urlPreview" class="col-md-3 control-label">URL preview</label>
                      <div class="col-md-9">
                        <input class="form-control" id="urlPreview" placeholder='Generated URL' type="text" value='[[  urlPreview ]]' v-model='urlPreview' disabled>
                      </div>
                    </div>
                  </div>

                  <div class="panel-footer">
                    <button type="button" id="close_modal" class="btn btn-default" v-on:click='cancelAddInstance' data-dismiss="modal">Cancel</button>
                    <button v-if="$validation1.valid" type="button" style='float:right' id='save' class="btn btn-primary" v-on:click='addInstance'>Create</button>
                    <button v-else type="button" style='float:right' id='save' class="btn btn-primary" disabled>Create</button>
                    <button type="button" style='float:right; display: none' id='saveTechnicalExists' class="btn btn-primary" disabled>Create</button>
                    <div id='loader' style='display:none; text-align: center;'>
                      <img style="" id="loaderAddInstance" src="../assets/img/ajax-loader.gif" alt="Loading"/><br />
                      <span class="text-primary" id="messageLoaderAddInstance">This may take several minutes.</span>
                    </div>
                    <div id='errorLoader' style='display:none; text-align: center;'>
                      <span class="text-danger" id="errorLoaderAddInstance">An error [[ codeErrorPull ]] was received : [[ messageErrorPull ]].</span><br />
                      <button v-else type="button" id='tryAgain' v-on:click='tryAgain' class="btn btn-danger">Cancel</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </validator>
          </div>
        </div>
      </div>
    </div>






<!-- SOCKET.IO -->

  <div id="messages_box"></div>


  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

  <!--
    On fait récupérer au client le fichier socket.io.js.
    Celui-ci est automatiquement fourni par le serveur node.js via le module socket.io.
    Le code qu'il contient permet de gérer la communication avec le serveur du côté du client.
  -->

  <script src="../socket.io/socket.io.js"></script>

  <script>

    var socket = io.connect('http://127.0.0.1:35267');

    // On écoute l'arrivée de messages de type "message type : refresh_instances_on_off" en provenance du serveur.
    socket.on('message type : refresh_instances_on_off', function(les_instances) {

      //$('#messages_box').empty();

      for(var key in les_instances)
      {
        $('#messages_box').html('<div class="well well-sm">' + les_instances[key].technicalName + '</div>' + $('#messages_box').html());
      }

    })

  </script>




{% endblock %}