body {
  font-family: "Helvetica", "Verdana", "Gill Sans", "Avantgarde", "Helvetica Narrow", "Courier New", serif;
  color: #616161;
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
    /* Specify that <div> elements should have padding and border included in the element's total width and height. */
    box-sizing: border-box;
}

.ezfooter {
  position: fixed;
  bottom: 0;
  left: 10px;
}
