.ezmaster-modal-add-instance.modal-dialog {
  max-width: 800px !important;
}

#emai-preview {
  font-size: 1.5rem;
  font-family: monospace;
}

.emma-name-list .list-group-item {
  padding: 0.4rem;
}
.emma-name-list .list-group-item img {
  float: right;
  opacity: 0.2;
  margin-top: 5px;
}
.emma-name-list .list-group-item a.github-link {
  float: right;
  opacity: 0.2;
  color: #000;
  font-size: 20px;
  vertical-align: top;
  margin-left: 8px;
}
.emma-name-list .list-group-item:hover {
  background-color: #59a9fb;
  cursor: pointer;
}

.emma-name-list .list-group-item-heading {
  font-size: 1rem;
  margin: 0;
  font-weight: bold;
  font-family: monospace;
}
.emma-name-list .list-group-item-text {
  font-size: 0.7rem;
  margin: 0;
}

.emma-version-list .list-group-item {
  padding: 0.4rem;
}
.emma-version-list .list-group-item:hover {
  background-color: #59a9fb;
  cursor: pointer;
}
.emma-version-list .list-group-item-heading {
  font-size: 1rem;
  margin: 0;
  font-weight: bold;
  font-family: monospace;
}
