.ezmaster-modal-add-instance.modal-dialog {
  max-width: 800px !important;
}

.emaa-name-list .list-group-item {
  padding: 0.4rem;
}
.emaa-name-list .list-group-item img {
  float: right;
  opacity: 0.2;
  margin-top: 5px;
}
.emaa-name-list .list-group-item a.github-link {
  float: right;
  opacity: 0.2;
  color: #000;
  font-size: 20px;
  vertical-align: top;
  margin-left: 8px;
}
.emaa-name-list .list-group-item:hover {
  background-color: #59a9fb;
  cursor: pointer;
}

.emaa-name-list .list-group-item-heading {
  font-size: 1rem;
  margin: 0;
  font-weight: bold;
  font-family: monospace;
}
.emaa-name-list .list-group-item-text {
  font-size: 0.7rem;
  margin: 0;
}

.emaa-version-list .list-group-item {
  padding: 0.4rem;
}
.emaa-version-list .list-group-item:hover {
  background-color: #59a9fb;
  cursor: pointer;
}
.emaa-version-list .list-group-item-heading {
  font-size: 1rem;
  margin: 0;
  font-weight: bold;
  font-family: monospace;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.emaa-loading .fa-spinner {
  animation: spin 2s linear infinite;
}
